* {
  box-sizing: border-box;
  --theme-blue-solid: #0d89ec;
  --theme-blue-light: #2199f3;
  --theme-black: #202124;
  --theme-black-dark: #111827;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
p {
  margin: 0;
  padding: 0;
}

.no-wrap {
  white-space: nowrap;
}
.logo-wrapper-link {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #dbeceb;
  height: 3vw;
  min-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.main-section {
  background-color: #eaf4fa;
  /* background-color: #ecefe7; */
  /* f5f5f5   f7f3e9  fcfcfc  eaf4fa  edf7ed   */
  width: 100%;
}
.banner-and-slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  padding: 4.8rem 1.6rem;
}
.banner {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex-grow: 1;
  align-self: stretch;
}
.banner-content-outer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.banner-content-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.banner-button-outer-wrapper {
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
  display: flex;
}
.banner-button-inner-wrapper {
  display: inline-flex;
  flex-shrink: 0;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
}
.banner-content-title {
  color: var(--theme-black);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  max-width: 260px;
}
.banner-content-tagline {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 16px;
  color: var(--theme-black-dark);
  letter-spacing: -1px;
  text-align: center;
}
.banner-content-explanation {
  color: var(--theme-black);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  text-align: center;
}

.banner-title-text-gradient {
  background: linear-gradient(90deg, #00c6ff, #004aad);

  /* background: linear-gradient(90deg, #26a363, #1a73e8 140.02%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.action-button {
  background-color: var(--theme-blue-solid);
  color: white;
  border: none;
  padding: 1.3rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  height: auto;
  width: auto;
  transition: background-color 0.2s linear; /* Transition for hover effect */
}

.demo-button-title-header,
.demo-button-main-section,
.video-button-main-section {
  font-weight: 550;
}

.demo-button-title-header {
  display: none;
  font-size: 1.5rem;
}
.demo-button-main-section,
.video-button-main-section {
  min-width: 240px;
  font-size: 1.7rem;
}
.video-button-main-section {
  background: transparent;
  color: #202124;
  border: 1px solid var(--theme-blue-solid);
}
.video-button-main-section:before {
  content: url(/img/play-icon-inside-button.svg);
  margin-right: 16px;
}

.menu-list-container {
  display: none;
}

.slider-outer-wrapper {
  width: auto;
}
.slider-inner-wrapper {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}
.slider {
  white-space: nowrap;
  animation: key1 10s ease 6s infinite;
}
.slider-collection {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
}
.slider-collection img {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
@keyframes key1 {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}

.menu-list {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgba(17, 24, 39, 0.8);
}
.menu-list > li {
  cursor: pointer;
}
.menu-list > li:hover,
.menu-list > li:focus {
  color: #1e90ff;
}
.hamburger-icon {
  cursor: pointer;
  margin: 0;
}
.hamburger-icon div {
  width: 25px;
  height: 2px;
  background-color: #0e2431;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.action-button:hover {
  background-color: var(--theme-blue-light);
}
.video-button-main-section:hover {
  background-color: #bbdefb;
}

@media (min-width: 1024px) {
  .header {
    height: 3.5vw;
  }
  .demo-button-title-header {
    display: inline;
  }
  .menu-list-container {
    display: inline;
  }
  .hamburger-icon {
    display: none;
  }
  .banner-and-slider-wrapper {
    flex-direction: row;
  }
  .banner {
    padding: 32px 0;
  }
  .banner-button-inner-wrapper {
    flex-direction: row;
  }
  .banner-content-inner-wrapper {
    gap: 24px;
  }
  .banner-content-title {
    text-align: left;
    max-width: none;
  }
  .banner-content-tagline {
    font-size: 48px;
    text-align: left;
    letter-spacing: -2px;
    line-height: 1.2;
  }
  .banner-content-explanation {
    text-align: left;
    font-size: 1.9rem;
  }
  .slider-outer-wrapper {
    min-width: 500px;
  }
  .slider-collection img {
    height: auto;
  }
}
