* {
  box-sizing: border-box;
  --theme-blue-solid: #0d89ec;
  --theme-blue-light: rgb(33, 153, 243);
}
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #dbeceb;
  height: 3vw;
  min-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.demo-button {
  background-color: var(--theme-blue-solid);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for hover effect */
  display: none;
}
.menu-list-container {
  display: none;
}
.menu-list {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-family: "Inter", sans-serif;
  color: rgba(17, 24, 39, 0.8);
}
.menu-list > li {
  cursor: pointer;
}
.menu-list > li:hover,
.menu-list > li:focus {
  color: #1e90ff;
}
.hamburger-icon {
  cursor: pointer;
  margin: 0;
}
.hamburger-icon div {
  width: 25px;
  height: 2px;
  background-color: #0e2431;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.demo-button:hover {
  background-color: var(--theme-blue-light);
}
@media (min-width: 1024px) {
  .header {
    height: 3.5vw;
  }
  .demo-button {
    display: inline;
  }
  .menu-list-container {
    display: inline;
  }
  .hamburger-icon {
    display: none;
  }
}
