:root {
  --theme-color-bold: #0074d9;
  --theme-color-light: #2199f3;
  --theme-color-ultra-light: #cae6f7;
  --text-secondary: #202124;
  --text-primary: #111827;
  --text-nav: rgba(17, 24, 39, 0.8);
  --background-light-shade: #eaf4fa;
  --header-bottom-border-color: #dbeceb;
  --background-default: white;
  --background-header: white;
  --text-gradient-start: #00c6ff;
  --text-gradient-end: #004aad;
  --header-height: 60px;
  --body-max-width: 1240px;
  --rounded-button-border-radius: 7px;
  --modal-window-border-radius: 10px;
  --pricing-plan-border-radius: 10px;
  --banner-image-border-radius: 12px;
  --modal-window-max-width: 350px;
  --pricing-modal-window-max-width: 800px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; /* Ensures text in links have no default decoration */
  -webkit-text-size-adjust: 100%; /* Prevents font size changes on mobile devices */
}

html {
  font-family: "Inter", sans-serif; /* Sets the base font family */
  font-size: 1rem; /* Sets the base font size for rem calculations */
  font-weight: 400; /* Sets the default font weight */
  line-height: 1.6; /* Sets the default line height */
}
body {
  text-rendering: optimizeLegibility; /* Improves text rendering */
  -webkit-font-smoothing: antialiased; /* Improves font smoothing on webkit browsers */
  list-style: none; /* Ensures lists have no default styles like bullets */
}

header {
  z-index: 100;
  width: 100%;
  position: fixed;
  height: var(--header-height);
  border-bottom: 1px solid var(--header-bottom-border-color);
  background-color: var(--background-header);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3vw;
}
.icon-text-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.icon-container,
.text-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container img {
  height: calc(0.6 * var(--header-height));
}
.text-logo-container img {
  height: calc(0.5 * var(--header-height));
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--text-nav);
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
header nav ul li {
  cursor: pointer;
  font-weight: 500;
  color: var(--text-nav);
  font-size: 1rem;
  display: none;
}
header nav ul li:hover {
  color: var(--theme-color-bold);
}
.header-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.action-button,
.outline-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.6rem;
  border-radius: var(--rounded-button-border-radius);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  max-width: 15rem;
}
.action-button {
  border: none;
  background-color: var(--theme-color-bold);
  color: white;
}

.outline-button {
  border-color: var(--theme-color-bold);
  border-width: 1px;
  background-color: transparent;
  color: var(--text-nav);
}

.header-demo-booking-button {
  display: none;
}
.pricing-demo-booking-button {
  padding: 0.9rem 0.3rem;
  font-size: 0.9rem;
}

.banner-demo-booking-button,
.banner-watch-video-button {
  max-width: 17rem;
  padding: 0.9rem 3.5rem;
  font-size: 1rem;
}
.banner-watch-video-button:before {
  content: url(/img/play-icon-inside-button.svg);
  margin-right: 1.2rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger div {
  background-color: var(--text-nav);
  height: 2px;
  transition: all 0.3s ease-in-out;
}
.hamburger.change .bar1 {
  transform: rotate(45deg) translate(6.5px, 6.5px);
}

.hamburger.change .bar2 {
  opacity: 0;
}

.hamburger.change .bar3 {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}

/* Popup menu styling */
.popup-menu {
  display: block;
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  max-width: 500px;
  background-color: var(--background-default);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  transition: top 0.3s ease;
  z-index: 9;
}
.popup-menu.show {
  top: var(--header-height);
}
.popup-menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.popup-menu nav ul li {
  width: 100%;
  border-bottom: 1px solid var(--header-bottom-border-color);
  cursor: pointer;
  font-weight: 500;
  color: var(--text-nav);
  font-size: 1rem;
}
.popup-menu nav ul li a {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2vh;
}
.popup-menu nav ul li a:hover {
  color: var(--theme-color-bold);
  background-color: var(--background-light-shade);
}
.popup-menu-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4vh;
}

main {
  color: var(--text-primary);
  background-color: var(--background-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 2vw 2vw 2vw;
  width: 100%;
}
#banner-section {
  padding-top: calc(var(--header-height) + 6vw);
  background-color: var(--background-light-shade);
  padding-bottom: 1.5rem;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.banner-section-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  width: 100%;
  max-width: var(--body-max-width);
}
.banner-text-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.banner-text-container h1 {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.375;
  color: var(--text-secondary);
  max-width: 60vw;
}
.banner-text-container h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.17;
  color: var(--text-primary);
}
.non-breaking-title {
  white-space: nowrap;
  word-break: keep-all;
}
.title-highlight {
  background: linear-gradient(
    90deg,
    var(--text-gradient-start),
    var(--text-gradient-end)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-text-container p {
  font-weight: 400;
  font-size: 1.07rem;
  line-height: 1.5;
  color: var(--text-secondary);
}
.banner-button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3vw;
  padding: 4vw;
}

.banner-image-container {
  width: 80vw;
  max-width: 500px;
  border-radius: var(--banner-image-border-radius);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner-image-container img {
  width: 100%;
  height: auto;
  animation: slideshow 35s cubic-bezier(0.2, 1, 0.1, 1) 2.5s infinite;
}
@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-300%);
  }
  50% {
    transform: translateX(-400%);
  }
  60% {
    transform: translateX(-500%);
  }
  70% {
    transform: translateX(-600%);
  }
  80% {
    transform: translateX(-700%);
  }
  90% {
    transform: translateX(-800%);
  }
  100% {
    transform: translateX(-900%);
  }
}

#video-section {
  padding-top: 8vh;
  padding-bottom: 8vh;
}
.video-outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  gap: 5vw;
  max-width: var(--body-max-width);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 600;
  color: var(--text-nav);
  text-align: center;
}

#pricing-section {
  padding-top: 6vh;
  background-color: var(--background-light-shade);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-section-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 4vh;
}
.pricing-section-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2.5vw;
  width: 100%;
  max-width: var(--body-max-width);
}
.pricing-plan {
  width: 450px;
  background-color: white;
  border-radius: var(--pricing-plan-border-radius);
  border: 1px solid var(--theme-color-ultra-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  padding: 2.5vh;
}
.pricing-plan-outline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  width: 100%;
}
.pricing-plan-name {
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: 700;
}
.pricing-plan-users {
  color: var(--text-primary);
  font-size: 0.8rem;
  font-weight: 500;
}
.pricing-plan-users-special {
  padding-bottom: 3vh;
  font-size: 1rem;
}
.pricing-plan-cost {
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: 700;
}
.special-price {
  color: var(--text-primary);
  font-size: 1.4rem;
  font-weight: 600;
}
.pricing-plan-unit {
  font-size: 0.7rem;
  font-weight: 400;
}

.pricing-plan-divider {
  height: 100%;
  width: 2px;
  background-color: var(--theme-color-ultra-light);
}
.pricing-plan-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
  width: 100%;
  height: 100%;
  padding-top: 1vw;
}
.pricing-plan-feature-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.pricing-plan-feature-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3vw;
}
.pricing-plan-feature {
  text-align: left;
  font-size: 0.75rem;
}
.pricing-plan-feature::before {
  content: "✓";
  color: var(--theme-color-bold);
  margin-right: 0.3rem;
  font-weight: 600;
}
.pricing-faq-section {
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  padding-bottom: 2vh;
}
.pricing-faq-message {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
.modal-content.pricing-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}
.faq-modal-title {
  font-size: 1.44rem;
  font-weight: 600;
  align-self: flex-start;
}
.faq-modal-items {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-self: flex-start;
  text-align: left;
}
.faq-question-and-answer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.faq-question {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 0.25px;
}
.faq-answer {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  display: none; /* Will be made visible through JS if required */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--background-default);
  border: 1px solid var(--header-bottom-border-color);
  width: 80vw;
  max-width: var(--modal-window-max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
  border-radius: var(--modal-window-border-radius);
  box-shadow: 0 0.25vw 0.25vw rgba(0, 0, 0, 0.3); /* Shad ow */
  text-align: center;
}
#pricing-faq-modal .modal-content {
  width: 90vw;
  max-width: var(--pricing-modal-window-max-width);
}
.modal-button {
  max-width: 8rem;
}

.modal-content p {
  color: var(--text-secondary); /* Use your theme's secondary text color */
  font-weight: 500;
  font-size: 1rem;
}

.flag-icon {
  width: 50px; /* Adjust size as needed */
  margin: 10px 0;
}

.phone-link,
.email-link {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
}
.email-link p {
  text-decoration: underline;
}

.features-section-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--body-max-width);
}
.features-main-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 4vh;
}

.features-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-top: 2px solid var(--background-light-shade);
}
.feature-description {
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
}
.feature-heading {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
}
.feature-point-list {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}
.feature-point {
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.75;
}
.feature-point:before {
  content: url(/img/tick-mark-inside-blue-circle.svg);
  margin-right: 1vh;
  height: 22px;
  width: 22px;
}

.feature-image-container {
  width: 80vw;
  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feature-image-container img {
  width: 100%;
  height: auto;
}
.feature-divider {
  height: 2px;
  width: 100%;
  background-color: red;
}

#clients-section {
  padding-top: 6vh;
  background-color: var(--background-light-shade);
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-section-title,
.client-testimonials-title,
.tech-partners-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 4vh;
}

.clients-section-description {
  font-size: 0.95rem;
  font-weight: 450;
  line-height: 1.7;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 4vh;
  max-width: var(--body-max-width);
}

.client-logos-container {
  width: 80vw;
  max-width: var(--body-max-width);
  height: 12vh;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
}

.client-logos-container img {
  padding: 1.5vh;
  height: 100%;
  width: auto;
  animation: scrollLogos 15s linear infinite;
}
@keyframes scrollLogos {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-1800%);
  }
}

.partner-logos-container {
  width: 80vw;
  max-width: var(--body-max-width);
  height: 12vh;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
}

.partner-logos-container img {
  padding: 1.5vh;
  height: 100%;
  width: auto;
  animation: scrollPartners 15s linear infinite;
}
@keyframes scrollPartners {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-600%);
  }
}

@media (min-width: 576px) {
  .title-highlight {
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  :root {
    --header-height: 75px;
  }
  .header-demo-booking-button {
    display: flex;
  }
  .popup-menu-button-wrapper {
    display: none;
  }

  section {
    width: 100%;
  }

  .banner-text-container {
    gap: 2vw;
  }

  .banner-text-container h2 {
    font-size: 3rem;
    letter-spacing: -2px;
    line-height: 1.2;
  }

  #video-section {
    padding-top: 5vw;
  }

  .video-outer-wrapper {
    gap: 3vw;
  }
  .video-titles {
    font-size: 1.8rem;
    line-height: 2;
  }
  .clients-section-description {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  header nav ul li {
    display: block;
  }

  .hamburger {
    display: none;
  }
  .popup-menu.show {
    display: none;
  }

  .banner-section-inner-container {
    flex-direction: row;
  }
  .banner-button-group {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }

  .banner-text-container {
    text-align: left;
  }
  .banner-text-container h1 {
    align-self: flex-start;
  }
  /* Hovering is not needed for touch devices */
  .action-button:hover {
    background-color: var(--theme-color-light);
    transition: background-color 0.3s ease;
  }
  .outline-button:hover {
    background-color: var(--theme-color-ultra-light);
    transition: background-color 0.3s ease;
  }
  .feature:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .feature:nth-child(even) {
    flex-direction: row;
  }
  .feature-point-list {
    /* padding-bottom: 5vh; */
  }
  .feature-point {
    text-align: left;
    font-size: 1.1rem;
  }
  .partner-logos-container {
    width: 40vw;
  }
}
